<div class="grid-item">
  {% if teaching.redirect %}
    {% unless teaching.nolink %}
      <a href="{{ teaching.redirect }}" target="_blank">
    {% endunless %}
  {% else %}
    {% unless teaching.nolink %}
      <a href="{{ teaching.url | relative_url }}">
    {% endunless %}
  {% endif %}
  {% if teaching.nolink %}
    <div class="card">
  {% else %}
    <div class="card hoverable">
  {% endif %}
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="card-header {{ teaching.university }}">
            <p class="card-text">
              {% if teaching.university == "ude" %}
                University of Duisburg-Essen
              {% endif %}
              {% if teaching.university == "uzk" %}
                University of Cologne
              {% endif %}
              {% if teaching.university == "ust" %}
                University of Stuttgart
              {% endif %}
              {% if teaching.university == "tud" %}
                TU Delft
              {% endif %}
              {% if teaching.university == "tubraunschweig" %}
                TU Braunschweig
              {% endif %}
              {% if teaching.university == "vua" %}
                Vrije Universiteit Amsterdam
              {% endif %}
            </p>
            <p class="card-text additional">{{ teaching.semester }}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-title">{{ teaching.title }}</p>
            {% if teaching.instructors %}
              <p class="card-text additional"> Instructor(s): {{ teaching.instructors }}</p>
            {% endif %}
            <!-- <p class="card-title">{{ teaching.title }}</p> -->
            <!-- <p class="card-text">{{ teaching.description }}</p>               -->
          </div>
        </div>
      </div>
    </div>
  {% unless teaching.nolink %}
    </a>
  {% endunless %}
</div>



<!-- <div class="grid-item">
  {% if teaching.redirect %}
    {% unless teaching.nolink %}
      <a href="{{ teaching.redirect }}" target="_blank">
    {% endunless %}
  {% else %}
    {% unless teaching.nolink %}
      <a href="{{ teaching.url | relative_url }}">
    {% endunless %}
  {% endif %}
    {% if teaching.nolink %}
      <div class="card">
    {% else %}
      <div class="card hoverable">
    {% endif %}
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="card-header {{ teaching.university }}">
            {% if teaching.university == "ude" %}
              <p class="card-text">University of Duisburg-Essen</p>
            {% endif %}
            {% if teaching.university == "uzk" %}
              <p class="card-text">University of Cologne</p>
            {% endif %}
            {% if teaching.university == "ust" %}
              <p class="card-text">University of Stuttgart</p>
            {% endif %}
            <p class="card-text">{{ teaching.semester }}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-title">{{ teaching.title }}</p>
          </div>
        </div>
      </div>
    </div>
  {% unless teaching.nolink %}
    </a>
  {% endunless %}
</div> -->
